@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<video id="my-video"
       class="video-js"
       controls
       preload="auto"
       width="640"
       height="264"
       poster="https://html5rocks.com/static/images/mastheads/h5r-shadow.png"
       data-setup="{}">
    <source src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.mp4" type="video/mp4" />
    <source src="http://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm" />
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>

<video class="img-responsive" style="display: inline;margin: auto;" poster="https://html5rocks.com/static/images/mastheads/h5r-shadow.png">
    <source src="https://www.html5rocks.com/en/tutorials/video/basics/devstories.mp4" type="video/mp4">
    <source src="http://www.html5rocks.com/en/tutorials/video/basics/devstories.webm" type="video/webm" />
    Your browser does not support the video tag.
</video>